<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style/index.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <title>Home</title>
</head>

<body>
  <header>
    <h1>Task Manager</h1>
    <div class="profile-menu">
      <%if(profile!=null){%>
      <img src="<%=profile%>" class="logo-img" alt="🙎">
      <%}else{%>
      <p class="logo">
        <%= username[0] %>
      </p>
      <%}%>  
    </div>
     <nav class="menu close-profile">
      <span clicked="false"  id="btn-profile-close" class="material-symbols-outlined btn-profile-close icon">
        arrow_right_alt
      </span>
      <div>
        <h2><%= username%></h2>
      <div class="profile-menu">
        <%if(profile!=null){%>
        <img src="<%=profile%>" class="logo-img" alt="🙎">
        <%}else{%>
        <p class="logo">
          <%= username[0] %>
        </p>
        <%}%>  
    </div>
    </div>
    <ul>
      <li onclick="window.location.href='/'">
        <span class="material-symbols-outlined">
          home
        </span>
        Home
      </li>
      <li onclick="window.location.href='/logout'">
        <span class="material-symbols-outlined">
          logout
        </span>
        Logout
      </li>
    </ul>
    </nav>
  </header>
  <main>
    <section class="history-container">
      <h2>History</h2>
      <% if(history.length>0){ %>
        <table>
          <tr>
            <th>Task</th>
            <th>Time</th>
          </tr>
          <% history.forEach((hist)=>{%>
          <tr>
            <td><%= hist.task%></td>
            <td><%= new Date(hist.time).toLocaleString("en-IN") %></td>

          </tr>

          <%})%>
        </table>
        <% }else{ %>
        <p>No task history found</p>
        <% } %>
        </section>
        </main>
</body>
<script> document.getElementsByClassName("profile-menu")[0].addEventListener("click", () => {
        document.getElementsByClassName("menu")[0].classList.remove("close");
        document.getElementsByClassName("menu")[0].classList.add("open");
       
    });

    document.getElementById("btn-profile-close").addEventListener("click", () => {
        document.getElementsByClassName("menu")[0].classList.add("close");
        document.getElementsByClassName("menu")[0].classList.remove("open");


    });

</script>

</html>
